ion-card {
  width: 78%;
  height: 235px;
  margin-left: 10%;
  margin-top: 25%;
}

ion-item {
  margin-top: 5px;
}

ion-button {
  font-size: 15px;
  margin-top: 15px;
}

ion-nav-link {
  font-style: 30px;
  padding-top: 25px;
}
ion-content {
  padding-bottom: 20px;
  background-color: rgb(103, 240, 217);
  margin-top: 10px;
}
